.game-result {
  margin: auto !important;
  max-width: 100% !important;
  & .modal-header {
    justify-content: center;
    padding: 0;
    & h2 {
      padding-top: 40px;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.904);
      letter-spacing: 1px;
    }
  }
  & .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 45px 0;
  }
  & .modal-content {
    background-color: $green-dark;
    border: 0 !important;
    & img {
      width: 45px;
    }
  }
  & .modal-footer,
  .modal-body,
  .modal-header {
    border: 0 !important;
  }
  & .modal-footer {
    padding: 0;
  }
}

.game-result-winner {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  & h1 {
    font-family: "Arial Rounded Bold", "Segoe UI", Tahoma, Geneva, Verdana,
      sans-serif;
    font-weight: 600;
    margin: 0 0 0 15px;
    letter-spacing: 1px;
  }
}

.game-result-actions {
  text-align: center;
}

@media only screen and (max-width: 336px) {
  .game-result-winner {
    & h1 {
      font-size: 25px;
    }
    & img {
      width: 35px !important;
    }
  }
}
