#game-container {
  display: block;
}
#game-squares-container {
  display: flex;
  margin: 20px 0;
}
.game-row {
  margin: 0 7.5px;
}
.game-square {
  background-color: $dark-variant;
  margin-bottom: 15px;
  height: 100px;
  width: 100px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.349);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    background-color: #305161;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 50px;
  }
}
