//Pallete
$dark: #192a32;
$dark-variant: #1f3540;
$yellow: #f2b236;
$green-light: #31c4be;
$green-dark: #0b494d;
$grey: #a8bec9;
$white: #d6e2e9;

@font-face {
  font-family: "Arial Rounded Bold";
  src: url(../fonts/ArialRoundedBold.ttf);
}

%btn {
  font-family: "Arial Rounded Bold", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 12px;
  color: $dark;
  padding: 10px 15px;
  border-radius: 7px;
  border: none;
  margin: 0 5px;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.336);
  -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.336);
  -moz-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.336);
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}
.btn-grey {
  @extend %btn;
  background-color: $grey;
}
.btn-yellow {
  @extend %btn;
  background-color: $yellow;
}
.btn-green {
  @extend %btn;
  background-color: $green-light;
}

//Effects

@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
